<md-dialog arial-label="Edit Tag">
  <md-toolbar>
       <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <h2>Are you sure you want to delete your account</h2>
       </div>
  </md-toolbar>
  <md-progress-linear md-mode="indeterminate" class="md-accent" ng-hide="hideProg">
  </md-progress-linear>
  <md-card class="md-whiteframe-z2" ng-hide="hidemsg">
    <md-card-content class="login-msg">
       <p>{{error}}</p>
    </md-card-content>
  </md-card>
  <div layout="column" layout-align="center center" class="dialog-content">
  <md-card>
    <md-card-content class="login-block">
       <md-button ng-click="deleteAcct()" class="md-raised md-primary">Yes</md-button>
    </md-card-content>
   </md-card>  
  </div>
</md-dialog>